.form-control{
  margin: 10px;
  width: 600px;
  color: #DAD;
  margin: 'auto';
  display: 'center';
  border: 1px solid #050505;
  overflow-y: 'auto';
}
.select-style {
  width: 100px;
  text-align: 'center';
  margin: 20px;
  height: 80px;

};
